@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


/* @import 'bootstrap/dist/css/bootstrap.min.css'; */


:root {
  background-color: #212529;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #212529;
  padding: 1rem;
  font-family: Roboto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.homeform {
  color: #000;
}

.hero-section {
  /* background-image: url('https://source.unsplash.com/random/1920x1080?abstract'); */
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 50px 0;
}